[submodule "engine"]
	path = engine
	url = git@github.com:millfolio/engine.git
	branch = main
[submodule "flare"]
	path = flare
	url = git@github.com:millfolio/flare.git
	branch = main
[submodule "json"]
	path = json
	url = git@github.com:millfolio/json.git
	branch = main
[submodule "menu-bar"]
	path = menu-bar
	url = git@github.com:millfolio/menu-bar.git
	branch = main
[submodule "vault"]
	path = vault
	url = git@github.com:millfolio/vault.git
	branch = main
[submodule "website"]
	path = website
	url = git@github.com:millfolio/website.git
	branch = main
